@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nguyja');
  src:  url('fonts/icomoon.eot?nguyja#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nguyja') format('truetype'),
    url('fonts/icomoon.woff?nguyja') format('woff'),
    url('fonts/icomoon.svg?nguyja#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-document-file-sql:before {
  content: "\e900";
}
.icon-Hadoop-text:before {
  content: "\e907";
}
.icon-r:before {
  content: "\e902";
}
.icon-python:before {
  content: "\e903";
}
.icon-keras:before {
  content: "\e904";
}
.icon-tensorflow:before {
  content: "\e905";
}
.icon-apachespark:before {
  content: "\e906";
}
.icon-postgresql:before {
  content: "\e901";
  color: #336791;
}
.icon-Hadoop:before {
  content: "\e908";
}
.icon-Hadoop-yellow .path1:before {
  content: "\e909";
  color: rgb(255, 255, 0);
}
.icon-Hadoop-yellow .path2:before {
  content: "\e90a";
  margin-left: -1.375em;
  color: rgb(255, 255, 204);
}
.icon-Hadoop-yellow .path3:before {
  content: "\e90b";
  margin-left: -1.375em;
  color: rgb(255, 255, 204);
}
.icon-Hadoop-yellow .path4:before {
  content: "\e90c";
  margin-left: -1.375em;
  color: rgb(204, 204, 0);
}
.icon-Hadoop-yellow .path5:before {
  content: "\e90d";
  margin-left: -1.375em;
  color: rgb(204, 204, 0);
}
.icon-Hadoop-yellow .path6:before {
  content: "\e90e";
  margin-left: -1.375em;
  color: rgb(204, 204, 0);
}
.icon-Hadoop-yellow .path7:before {
  content: "\e90f";
  margin-left: -1.375em;
  color: rgb(0, 0, 0);
}
.icon-Hadoop-yellow .path8:before {
  content: "\e910";
  margin-left: -1.375em;
  color: rgb(0, 0, 0);
}
.icon-Hadoop-yellow .path9:before {
  content: "\e911";
  margin-left: -1.375em;
  color: rgb(0, 0, 0);
}
.icon-Hadoop-yellow .path10:before {
  content: "\e912";
  margin-left: -1.375em;
  color: rgb(255, 255, 204);
}
.icon-github:before {
  content: "\eab0";
}
